{% extends "base.html"%}
{% block content %}

<head>    <link rel="stylesheet" type="text/css" href="static/css/strava.css"> </head>

<div class="jumbotron">
    <!-- <img class="image image-contain" src="'/static/just5klogo.png" /> -->
    <div class="stravalogo" >
         <img height="500">



    </div>
</div>

<!-- Content outside of Jumbotron -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Click here to authorize with strava</h2>
            <a href="{{ authorize_url }}" style="font-size:300%;color:#0000FF;" >Authorize with Strava</a> 
        </div>
    </div>
</div>

{% endblock %}